@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
  .tabh {
    @apply font-medium text-gray-900;
  }
  .form {
    @apply w-full h-[295px] p-[10px] border border-[#D7DFE9] bg-gray-50 rounded-[4px] flex flex-col items-center justify-center cursor-pointer;
  }
  .progrss {
    @apply w-full h-[100px] bg-gray-50 p-3 border border-[#D7DFE9] rounded-[4px] flex flex-col gap-[12px];
  }
  .progressfile {
    @apply flex gap-3;
  }
  .progress-bar {
    @apply w-full h-[5px] bg-[#D7DFE9] flex-shrink-0 border border-[#D7DFE9] rounded-[5px];
  }
  .progrsspercentage {
    @apply w-[0px] h-[5px] rounded-[5px] border border-[#455468] bg-[#455468];
  }
  .propercent {
    @apply text-[12px] font-medium  leading-[20px] -mt-8 -ml-8;
  }
  .progrssarea {
    @apply flex h-[20px] items-center  gap-3;
  }
  .imagearea {
    @apply p-[10] w-[44px] h-[44px] bg-white flex items-center justify-center;
  }
  .image {
    @apply w-[24px] h-[24px] relative;
  }
  .filenamearea {
    @apply flex items-start w-full justify-between;
  }
  .filename {
    @apply text-[#2D3643] text-base font-medium leading-[24px];
  }
  .total {
    @apply text-[12px] font-normal text-[#8897AE];
  }
  .magnifier-image {
    @apply w-[200px] h-[200px] border-2 border-solid border-white;
  }
}

.positive {
  color: lime;
}

.negative {
  color: red;
}

.container {
  margin: 0 auto;
  width: calc(100% - 24px);
  max-width: 1595px;
}
@media (min-width: 960px) {
  .container {
    width: calc(100% - 80px);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
